<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/styles.css"/>
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Rammetto+One|Source+Code+Pro"
    rel="stylesheet">

  <title> The Great E-Scrape</title>
</head>

<body>

  {{{body}}}

</body>

</html>